# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# Your code here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)
insurance_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains'''
insurance_df.shape
num_rows = insurance_df.shape[0]
num_columns = insurance_df.shape[1]
print('Rows: ', num_rows)
print('Columns: ', num_columns)

Rows:  4008
Columns:  11

In [5]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
#You should also provide suggestions for fixing any incorrect data types
insurance_df.columns
for column in insurance_df.columns:
  print(f'The type of {column} is: {insurance_df[column].dtype}')

The type of Customer is: object
The type of ST is: object
The type of GENDER is: object
The type of Education is: object
The type of Customer Lifetime Value is: object
The type of Income is: float64
The type of Monthly Premium Auto is: float64
The type of Number of Open Complaints is: object
The type of Policy Type is: object
The type of Vehicle Class is: object
The type of Total Claim Amount is: float64

In [6]:
'''Customer Lifetime Value and Number of Open Complaints should also be type float.'''

insurance_df['Customer Lifetime Value'].str.rstrip("%").astype(float)/100

0              NaN
1        6979.5359
2       12887.4317
3        7645.8618
4        5363.0765
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: Customer Lifetime Value, Length: 4008, dtype: float64

In [7]:
'''I am not sure what the data mean here. Is it 1 to 6 complains in 1 year time?. 
Without understanding I cannot find a way to correct the data type.'''

insurance_df['Number of Open Complaints'].values

array(['1/0/00', '1/0/00', '1/0/00', ..., nan, nan, nan], dtype=object)

In [8]:
insurance_df['Number of Open Complaints'].value_counts()

1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64

In [9]:
#Identify the number of unique values for each column and determine which columns appear to be categorical
for column in insurance_df.columns:
  print(f'The number of unique values for {column} is: ', insurance_df[column].nunique())

The number of unique values for Customer is:  1071
The number of unique values for ST is:  8
The number of unique values for GENDER is:  5
The number of unique values for Education is:  6
The number of unique values for Customer Lifetime Value is:  1027
The number of unique values for Income is:  774
The number of unique values for Monthly Premium Auto is:  132
The number of unique values for Number of Open Complaints is:  6
The number of unique values for Policy Type is:  3
The number of unique values for Vehicle Class is:  6
The number of unique values for Total Claim Amount is:  761

In [10]:
insurance_df['Customer'].unique()

array(['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan],
      dtype=object)

In [11]:
insurance_df['ST'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [12]:
insurance_df['GENDER'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [13]:
insurance_df['Education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [14]:
insurance_df['Policy Type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [15]:
insurance_df['Policy Type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [16]:
'''Columns  Customer, ST, Gender, Education, Policy Type, and Vehicle Class appear to be categorical. 
There seem to be customers with more than one policy as there are 1071 different values for Customer
and 4008 rows in our insurance_df. The Customer Lifetime Value values are 1027, 
so almost the same number...we probably need to think about it when collecting statistics values, 
as this value should be considered only once if it shows the total revenue derived from this customer.'''

'Columns  Customer, ST, Gender, Education, Policy Type, and Vehicle Class appear to be categorical. \nThere seem to be customers with more than one policy as there are 1071 different values for Customer\nand 4008 rows in our insurance_df. The Customer Lifetime Value values are 1027, \nso almost the same number...we probably need to think about it when collecting statistics values, \nas this value should be considered only once if it shows the total revenue derived from this customer.'

In [17]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns
numerical_insurance_df = insurance_df.select_dtypes(include='float')
round(numerical_insurance_df.describe(), 2)

         Income  Monthly Premium Auto  Total Claim Amount
count   1071.00               1071.00             1071.00
mean   39295.70                193.23              404.99
std    30469.43               1601.19              293.03
min        0.00                 61.00                0.38
25%    14072.00                 68.00              202.16
50%    36234.00                 83.00              354.73
75%    64631.00                109.50              532.80
max    99960.00              35354.00             2893.24

In [18]:
numerical_insurance_df.mode()

   Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6

In [19]:
numerical_insurance_df.median()

Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

In [20]:
'''Conclusions?'''

'Conclusions?'

In [21]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
categorical_insurance_df = insurance_df.select_dtypes(include='object')
categorical_insurance_df.describe()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [22]:
'''Looking at the top and freq rows, we see that the same Customer Lifetime Value appear 4 times. 
This can be because the same customer has more than one policy and therefore appears in more than one row, as supposed before. 
Strange value on sex (5 different values - we might want to correct that).'''

'Looking at the top and freq rows, we see that the same Customer Lifetime Value appear 4 times. \nThis can be because the same customer has more than one policy and therefore appears in more than one row, as supposed before. \nStrange value on sex (5 different values - we might want to correct that).'

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [23]:
locations = insurance_df['ST'].value_counts()
print(locations)

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [24]:
sorted_locations = locations.sort_values(ascending=True)
less_common_locations = sorted_locations.iloc[:5]
print(less_common_locations)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [25]:
# Your code here
policies = insurance_df['Policy Type'].value_counts()
type(policies)

pandas.core.series.Series

In [26]:
policies_df = pd.DataFrame(policies)
policies_df

                Policy Type
Personal Auto           780
Corporate Auto          234
Special Auto             57

In [27]:
#although policy_df is already sorted in a descending order, I am assuming that I did not know. 
#So, to retrive the most sold policy, first I sort all values from higest to lowest, then I call the first one.

most_sold_policy = policies_df.sort_values(by='Policy Type', ascending=False).head(1)
most_sold_policy

               Policy Type
Personal Auto          780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a income ? than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [28]:
# Your code here
#first, create a df with columns Income and Policy Type
income_per_policy_df = insurance_df[['Income','Policy Type']]

#create then a df with same columns as before and only rows value Personal Auto and another df only woth rows value Corporate Auto
income_personal_auto_df = income_per_policy_df.loc[income_per_policy_df['Policy Type'] =='Personal Auto']
income_corporate_auto_df = income_per_policy_df.loc[income_per_policy_df['Policy Type'] =='Corporate Auto']

In [29]:
statistics_income_personal_df = round(income_personal_auto_df.describe(), 2)
average_income_personal = statistics_income_personal_df.loc['mean']['Income']
print(f'The average income for customers with personal auto is: {average_income_personal}')

The average income for customers with personal auto is: 38180.7

In [30]:
statistics_income_corporate_df = round(income_corporate_auto_df.describe(), 2)
average_income_corporate = statistics_income_corporate_df.loc['mean']['Income']
print(f'The average income for customers with corporate auto is: {average_income_corporate}')

The average income for customers with corporate auto is: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [31]:
# Your code here
all_claim_amount_df = insurance_df[['Customer','Total Claim Amount']]

In [32]:
all_claim_amount_df.sort_values(by='Total Claim Amount', ascending=False)

     Customer  Total Claim Amount
888   BZ65376         2893.239678
248   FO35655         2345.413441
522   ZZ97035         2027.724442
196   AZ62651         1836.000000
581   PR53785         1577.674417
...       ...                 ...
4003      NaN                 NaN
4004      NaN                 NaN
4005      NaN                 NaN
4006      NaN                 NaN
4007      NaN                 NaN

[4008 rows x 2 columns]

In [33]:
claim_series = all_claim_amount_df.value_counts()

In [34]:
#I want to eliminate multiple values per customer and reduce the data
claim_amount_customer_df = pd.DataFrame(round(all_claim_amount_df.value_counts()).sort_values(ascending=False))
claim_amount_customer_df

                             0
Customer Total Claim Amount
AA71604  470.400000          1
AM97901  1336.931716         1
AZ74055  494.400000          1
AB60627  98.921782           1
AB72731  84.024413           1
...                         ..
ZW84453  131.401291          1
ZX23819  866.208321          1
ZX64745  1124.427734         1
ZX86243  141.799422          1
ZZ97035  2027.724442         1

[1071 rows x 1 columns]

In [35]:
#this however gives me a df with double index and 1 column, but I want Customer and Total Claim Amount to stay columns
claim_amount_customer_2_df = claim_amount_customer_df.reset_index(level=['Customer', 'Total Claim Amount'])
claim_amount_customer_2_df

     Customer  Total Claim Amount  0
0     AA71604          470.400000  1
1     AM97901         1336.931716  1
2     AZ74055          494.400000  1
3     AB60627           98.921782  1
4     AB72731           84.024413  1
...       ...                 ... ..
1066  ZW84453          131.401291  1
1067  ZX23819          866.208321  1
1068  ZX64745         1124.427734  1
1069  ZX86243          141.799422  1
1070  ZZ97035         2027.724442  1

[1071 rows x 3 columns]

In [36]:
#then I drop the last column with values 1 from the value.counts() that I don't want to be in my df
claim_amount_customer_final_df = claim_amount_customer_2_df.drop(claim_amount_customer_2_df.columns[2], axis=1)
claim_amount_customer_final_df

     Customer  Total Claim Amount
0     AA71604          470.400000
1     AM97901         1336.931716
2     AZ74055          494.400000
3     AB60627           98.921782
4     AB72731           84.024413
...       ...                 ...
1066  ZW84453          131.401291
1067  ZX23819          866.208321
1068  ZX64745         1124.427734
1069  ZX86243          141.799422
1070  ZZ97035         2027.724442

[1071 rows x 2 columns]

In [ ]:
# Set the threshold (75%)
threshold = 0.75

# Specify the column to filter
column_to_filter = 'Total Claim Amount'

# Create a boolean mask for values above the threshold in the specified column
mask = claim_amount_customer_final_df['Total Claim Amount'] > (threshold * 100)
# Use the mask to select values above the threshold in the specified column
highest_claim_df = claim_amount_customer_final_df[mask]

# Display the DataFrame containing values above the threshold
print(highest_claim_df)

     Customer  Total Claim Amount
0     AA71604          470.400000
1     AM97901         1336.931716
2     AZ74055          494.400000
3     AB60627           98.921782
4     AB72731           84.024413
...       ...                 ...
1066  ZW84453          131.401291
1067  ZX23819          866.208321
1068  ZX64745         1124.427734
1069  ZX86243          141.799422
1070  ZZ97035         2027.724442

[952 rows x 2 columns]

In [ ]:
highest_claim_df.describe()

       Total Claim Amount
count          952.000000
mean           450.581544
std            278.963223
min             75.501852
25%            292.800000
50%            397.268203
75%            547.200000
max           2893.239678